* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    font-family: "convergence", sans-serif;
    display: grid;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.lol {
    margin: 5px;
    /* top: 1%; */
    font-size: 40px;
    width: 37%;
    padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 30px;
    /* top: 75%;
    left: 75%;
    position: absolute; */
    box-sizing: border-box;
}

.lol1 {
    font-size: 40px;
    width: 37%;
    padding: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 30px;
    top: 40%;
    left: 62%;
    position: absolute;
    box-sizing: border-box;
}

.container {
    width: 23%;
    height: 50%;
    padding: 20px;
    border-radius: 30px;
    top: 40%;
    left: 49.5%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.fuimg {
    position: fixed;
    top: 2%;
    left: 80%;
    box-sizing: border-box;
}


/* Buttom */

input[type="submit"] {
    width: 85%;
    height: 50px;
    border: 2px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 25px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    /* outline: none; */
}

input[type="submit"]:hover {
    border-color: #161111;
    transition: .5s;
    color: #6a4949;
}


/* .signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
} */


/* .signup_link a {
    color: #2691d9;
    text-decoration: none;
} */


/* .signup_link a:hover {
    text-decoration: underline;
} */

@media screen and (max-width:980px) {
    body {
        background-image: url("../img/bannercat1.jpg");
        /* background-image: url("../img/bannercat.jpg"); */
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    /*     img {
        height: 300px;
        width: 300px;
    } */
    .lol {
        display: inline;
        font-size: 63px;
        color: green;
        width: 90%;
        top: 13%;
        left: 5%;
        right: 5%;
        position: fixed;
        /* background: green;   */
    }
    .lol1 {
        top: 62%;
        left: 5%;
        right: 5%;
        position: fixed;
        width: 90%;
        font-size: 55px;
    }
    .container {
        top: 45%;
        left: 50%;
        position: absolute;
        width: 50%;
        height: 32%;
        font-size: 25px;
    }
    .fuimg {
        top: 1%;
        left: 35%;
        position: fixed;
    }
}


/* @media screen and (min-width:601px) and (max-width:900px) {
    .lol {
        display: block;
        width: 40%;
        background: blue;
    }
    body {
        background: yellow;
    }
} */


/* Acadimac Logo */


/* About the input boxs */

.container .inputs {
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}


/* how the input box look like */

.container .inputs input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
    background: none;
}

.container .inputs input:focus {
    border-color: crimson;
}


/* words moving */

.container .inputs label {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 16px;
    transition: 0.3s;
}


/* words moving */

.container .inputs input:focus~label,
.container .inputs input:valid~label {
    transform: translateY(-23px);
    color: crimson;
}


/* APIs */

gapi.load('auth2',
function() {
    gapi.auth2.init();
}

);
function onSignIn(googleUser) {
    var profile=googleUser.getBasicProfile();
    console.log('ID: '+profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: '+profile.getName());
    console.log('Image URL: '+profile.getImageUrl());
    console.log('Email: '+profile.getEmail()); // This is null if the 'email' scope is not present.
}