.pdf {
    /* align-content: center; */
    /* background-color: rgb(128, 118, 118); */
    /* width: 100%; */
    /* height: 570px; */
}

.pdf .dd {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
}


/* Download Button */

p {
    position: absolute;
    top: 5%;
    left: 8%;
    width: 42%;
    font-size: 20px;
    color: #757575;
}

.download-btn {
    position: absolute;
    top: 18%;
    left: 8%;
    background-color: DodgerBlue;
    color: white;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: RoyalBlue;
}


/*  */

@media screen and (max-width:600px) {
    .pdf {
        display: block;
    }
    .dd {
        display: block;
    }
    .download-btn {
        position: absolute;
        top: 35%;
        left: 15%;
        background-color: DodgerBlue;
        color: white;
        padding: 1rem 2rem;
        font-size: 2rem;
        text-decoration: none;
        border-radius: 5px;
        width: 84%;
    }
    p {
        position: absolute;
        top: 5%;
        left: 20%;
        width: 80%;
    }
}