.Write .Down {
    position: fixed;
    left: 18%;
    top: 80%;
    width: 300px;
    font-size: 25px;
    display: inline-block;
    padding: 0;
    margin: 10px;
}

.Write .Prin {
    position: fixed;
    left: 18%;
    top: 88%;
    width: 300px;
    font-size: 25px;
    display: inline-block;
    padding: 0;
    margin: 10px;
}

.sidebar .menu .submenu {
    position: absolute;
    left: 90%;
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    display: none;
    width: 230px;
    font-size: 25px;
    margin: 10px;
    border: 2px solid;
}

.sidebar .submenu i {
    width: 210px;
    padding: 5px;
    border: 2px solid;
}

.sidebar .submenu i {
    color: black;
    text-decoration: none;
}

.sidebar .submenu i a:hover {
    /* color: #F00; */
}

.sidebar #AA:hover .submenu {
    display: inline-block;
}


/*  */


/*  */


/*  */

.cont {
    position: absolute;
    top: 5%;
    left: 18%;
    display: block;
    font-size: 25px;
    color: #757575;
}

@media screen and (max-width:600px) {
    .cont {
        font-size: 15px;
        top: 5%;
    }
    .Write .Down {
        position: absolute;
        left: 18%;
        top: 90%;
        width: 300px;
        font-size: 25px;
        display: inline-block;
        padding: 0;
        margin: 10px;
    }
    .Write .Prin {
        position: absolute;
        left: 18%;
        top: 98%;
        width: 300px;
        font-size: 25px;
        display: inline-block;
        padding: 0;
        margin: 10px;
    }
}