.Upload button {
    position: relative;
    left: 10%;
    top: 10%;
    width: 230px;
    font-size: 25px;
    display: block;
    padding: 0;
    margin: 10px;
}

button {
    position: relative;
    left: 10%;
    top: 0%;
    width: 230px;
    font-size: 25px;
    display: block;
    padding: 0;
    margin: 10px;
}


/* How Can i make timer to tell about the time*/

.chance {
    position: absolute;
    left: 22%;
    top: 47%;
    width: 275px;
    font-size: 30px;
    background-color: #fdf73c;
    border-color: black;
    border: 2px solid #111;
    text-align: center;
}

.add {
    display: block;
    position: fixed;
    left: 37%;
    top: 1%;
    color: #757575;
    font-size: 20px;
    width: 63%;
}


/* Whole Popup */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
    position: absolute;
    left: 50%;
}

.popup .content {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 550px;
    height: 200px;
    z-index: 2;
    box-sizing: border-box;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: rgb(1, 1, 1);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


/* Git */

.Git .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 1;
    display: none;
}

.Git .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 180px;
    z-index: 10000000000000000000000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid;
    font-size: 17px;
}

.Git .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.Git.active .overlay {
    display: block;
}

.Git.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.Git .inputfield .input {
    position: relative;
    width: 100%;
    border: 1px solid;
    margin: 5px;
    font-size: 20px;
}

.Git .inputfield .btn {
    position: relative;
    width: 100%;
    margin: 5px;
    font-size: 20px;
}


/*  */


/*  */


/*  */


/*  */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    box-sizing: border-box;
}


/* body {
    background: #fec107;
    padding: 0 10px;
} */

.wrapper {
    max-width: 550px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
    width: 100%;
    height: 125px;
    resize: none;
}

.wrapper .form .inputfield .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}


/* Serch Curser */

.wrapper .form .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
    border: 1px solid #fec107;
}

.wrapper .form .inputfield p {
    font-size: 14px;
    color: #757575;
}

.wrapper .form .inputfield .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .inputfield .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form .inputfield .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #fec107;
    display: block;
    position: relative;
}

.wrapper .form .inputfield .check .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark {
    background: #fec107;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark:before {
    display: block;
}

.wrapper .form .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover {
    background: #ffd658;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .inputfield label {
        margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms {
        flex-direction: row;
    }
}


/* Phone Fetures */

@media screen and (max-width:600px) {
    .popup .content {
        position: absolute;
        width: 400px;
    }
    .popup .content {
        top: 110px;
        z-index: 1000;
    }
    button {
        position: absolute;
        left: 22%;
        top: 20%;
        width: 75%;
    }
    .chance {
        position: absolute;
        left: 22%;
        top: 45%;
        width: 75%;
    }
    .add {
        display: block;
        position: absolute;
        left: 18%;
        width: 79%;
        top: 4%;
        color: #757575;
        font-size: 15px;
        text-align: center;
    }
    .add1 {
        display: block;
        position: absolute;
        left: 18%;
        width: 79%;
        top: 29%;
        color: #757575;
        font-size: 15px;
        text-align: center;
    }
}