.POP .over {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.POP .con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 150px;
    z-index: 20000000000000000000000000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.S {
    /* padding: 5px; */
    margin: 15px;
}


/* .T {
    cursor: pointer;
} */

.POP .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.POP.active .over {
    display: block;
}

.POP.active .con {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


/* Secound */

.POP1 .over1 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.POP1 .con1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 150px;
    z-index: 20000000000000000000000000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.POP1 .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.POP1.active .over1 {
    display: block;
}

.POP1.active .con1 {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


/* Third */

.POP2 .over2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.POP2 .con2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 150px;
    z-index: 20000000000000000000000000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.POP2 .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.POP2.active .over2 {
    display: block;
}

.POP2.active .con2 {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}


/* Book */

.POP3 .over3 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.POP3 .con3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 150px;
    z-index: 20000000000000000000000000;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.POP3 .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.POP3.active .over3 {
    display: block;
}

.POP3.active .con3 {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width:600px) {
    .POP .con {
        width: 400px;
    }
    .POP1 .con1 {
        width: 400px;
    }
    .POP2 .con2 {
        width: 400px;
    }
}