/* Create Post */

.container123 {
    position: absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 25px;
    padding: 3%;
    height: 13%;
    display: block;
    left: 20%;
    top: 8%;
    width: 50%;
}

.container123 h3 {
    position: absolute;
    top: 10%;
    left: 3%;
    display: inline-block;
    color: #707070;
    font-size: 20px;
}

.container123 h4 {
    position: absolute;
    top: 65%;
    left: 25%;
    font-size: 20px;
    color: #707070;
}

.container123 .inputs input {
    border: none;
    position: absolute;
    border-radius: 10px;
    width: 85%;
    height: 22%;
    left: 10%;
    top: 39%;
}

.Center {
    position: absolute;
    top: 23%;
    left: 45%;
    width: 50%;
    margin-top: 2%;
    display: block;
}

.show {
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: #757575;
    font-size: 20px;
    margin-top: 5%;
    padding: 2%;
}


/* inside */

.Contant {
    position: relative;
    width: 89%;
    left: 10%;
    display: block;
    top: 84%;
    color: #707070;
    font-size: 20px;
    text-align: center;
}


/* Some */

.im {
    position: fixed;
    padding: 0%;
    margin: 0%;
    font-size: 25px;
    left: 76%;
    top: 2%;
}

.BBB {
    position: fixed;
    padding: 0%;
    margin: 0%;
    font-size: 25px;
    left: 72%;
    top: 30%;
    color: #757575;
}

.AContant {
    position: fixed;
    padding: 0%;
    margin: 0%;
    text-align: center;
    width: 29%;
    height: 50px;
    font-size: 25px;
    left: 71%;
    top: 34%;
    color: #757575;
}

@media screen and (max-width:600px) {
    .Contant123 {
        position: absolute;
        width: 82%;
        left: 16%;
        top: 80%;
        font-size: 13px;
    }
    .container123 {
        z-index: 100;
        position: absolute;
        left: 18%;
        width: 80%;
        height: 11%;
        top: 28%;
    }
    .container123 h3 {
        font-size: 13px;
        position: absolute;
        left: 6%;
        top: 12%;
    }
    .container123 h4 {
        font-size: 10px;
        left: 20%;
        top: 70%;
    }
    .container123 .inputs input {
        top: 39%;
        left: 15%;
        width: 80%;
    }
    .Center {
        top: 42%;
    }
    .show {
        /* top: 60%; */
        left: 25%;
        width: 155%;
        font-size: 15px;
        margin-top: 20%;
        padding: 5%;
    }
    .BBB {
        text-align: center;
        /* width: 150px; */
        /* height: 50px; */
        font-size: 25px;
        left: 25%;
        top: 70%;
        display: none;
    }
    .AContant {
        position: absolute;
        padding: 0%;
        margin: 0%;
        width: 330px;
        height: 50px;
        font-size: 25px;
        left: 15%;
        top: 75%;
        display: none;
    }
    .im {
        left: 20%;
        position: absolute;
    }
}