.proInfo {
    display: block;
    position: absolute;
    top: 5%;
    left: 45%;
    width: 52%;
    font-size: 25px;
    color: #757575;
    position: absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 10px;
}

.proInfo h2 {
    font-size: 38px;
}

.Memb {
    display: block;
    position: absolute;
    top: 1%;
    left: 20%;
    font-size: 20px;
    color: #757575;
    position: absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 10px;
    width: 21.5%;
}

.Memb h2 {
    font-size: 30px;
}

.Download {
    position: absolute;
    top: 66%;
    left: 20%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 10px;
    /* display: none; */
    width: 21.5%;
}

.Download button {
    position: relative;
    /* left: 4%; */
    width: 269px;
    font-size: 25px;
    display: block;
    padding: 0;
    margin: 10px;
}

@media screen and (max-width:600px) {
    .proInfo {
        left: 18%;
        top: 113.5%;
        width: 79%;
        font-size: 15px;
    }
    .proInfo h2 {
        font-size: 17.5px;
    }
    .Memb {
        z-index: 100;
        position: absolute;
        left: 18%;
        top: 6%;
        width: 79%;
        font-size: 20px;
    }
    .Memb h2 {
        font-size: 17.5px;
    }
    .Download {
        z-index: 100;
        position: absolute;
        left: 18%;
        top: 75%;
        width: 79%;
        /* height: 55%; */
    }
    .Download button {
        position: relative;
        top: 0%;
        left: 0%;
        width: 95%;
        display: inline;
        margin: 2px;
    }
}


/* Some none */

.im {
    display: none;
}