/* Gifts */

.upper {
    position: absolute;
    width: 16%;
    height: 8%;
    left: 83%;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.upperbar .icon {
    min-width: 60px;
    /* border-radius: 6px; */
    height: 100%;
    display: flex;
    position: absolute;
    left: 10%;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.upperbar .upper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}